<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Already Exists</title>
  </head>
  <body>
    <h1>The Given USN or Email already exists</h1>
    <a href="student_login">LOGIN</a>
  </body>
</html>
