<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      USN : <select  name="Sub">
        <% for(var i=0;i<student.length;i++){ %>
        <option value="<%= student[i].usn %>"><%= student[i].usn %></option>
        <% } %>
      </select>
      Faculty :<select  name="faculty">
        <% for(var i=0;i<faculty.length;i++){ %>
        <option value="<faculty[i].empid"><%= faculty[i].firstname %> <%= faculty[i].lastname %> (<%= faculty[i].dept %>)</option>
        <% } %>
      </select>
      SUB : <select name="sub">
        <% for (var i=0;i<faculty.length;i++){ %>
          <% for(var j=0;j<faculty[i].sub.length; j++){ %>
        <option value="<%= faculty[i].sub[j] %>"> <%= faculty[i].sub[j] %></option>
        <% } }%>
      </select>
      <input type="textarea" name="doubt" placeholder="Type the doubt"/>
      <input type="file" name="image" accept="image/*" value="Upload Image"/>
      <input type="Submit" name="Submit" value="Submit">  
    </form>

  </body>
</html>
