<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <form  method="post">
      <title>SEM and Sub Selection</title>
      <h1 style="text-align:center"> welcome </h1> <input type="text" name="empid" value="<%= emp %>">
      <h1>SEM : <select name="sem" multiple>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select></h1>
      <input type="submit" name=submit"" value="check subjects">
    </form>

  </body>
</html>
