<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> details sucessfully updated </h1>
    <form  action="" method="post">
      <input type="text" name="empid" value="<%= empid %>">
      <input type="submit" name="submit" value="GO BACK">
    </form>
  </body>
</html>
