<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/studentlogin.css">
	<title>FACULTY LOGIN	</title>
	<script>
		function validate(e){
			var firstname=document.getElementById('firstname').value;
			var lastname=document.getElementById('lastname').value;
			var usn=document.getElementById('usn').value;
			var password=document.getElementById('password').value;
			var cpassword=document.getElementById('cpassword').value;
			if(password!=cpassword)
			{
				alert("missing");
				e.preventDefault();
			}
		}
	</script>
</head>
<body>
	<form method="POST" name="studentlogin" action="" id="studentlogin">
	<fieldset>
	<legend style="color:hsl(39, 100%, 50%);">FACULTY LOGIN FORM</legend>
		<input type="text" id="empid" name="empid" placeholder="Enter Employee id" required><br>
		<input type="password" name="password" id="password" placeholder="password" required><br>
		<input type="submit" value="submit" onclick="validate()">
	</fieldset>
	</form>
</body>
</html>
