<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/facultyregistration.css">
	<title>FACULTY LOGIN</title>
	<script>
		function validate(e){
			var firstname=document.getElementById('firstname').value;
			var lastname=document.getElementById('lastname').value;
			var usn=document.getElementById('usn').value;
			var password=document.getElementById('password').value;
			var cpassword=document.getElementById('cpassword').value;
			if(password!=cpassword)
			{
				alert("missing");
				e.preventDefault();
			}
		}
	</script>
</head>
<body>
	<form method="POST" name="PRREGISTER" action="" id="prregst">
	<fieldset>
	<legend style="color:MediumSeaGreen";>FACULTY REGISTRATION FORM</legend>
		<input type="text" name="firstname" class="firstname" id="firstname" placeholder="Enter first name"  required><br>
		<input type="text" name="lastname" class="lastname" id="lastname" placeholder="Enter last name" required><br>
		<input type="email" name="facultyemail" placeholder="enter your email" required><br>
		<input type="text" id="empid" name="empid" placeholder="Enter Employee ID" required><br>
		<p style="color:SlateBlue; font-weight:bold;">DEPT : <select name="dept" >
			<option value="ISE">ISE</option>
			<option value="CSE">CSE</option>
			<option value="AERO">AERO</option>
			<option value="MECH">MECH</option>
			<option value="CIVIL">CIVIL</option>
			<option value="ECE">ECE</option>
			</p>
		</select><br>4
		<input type="hidden" name="sem" value=""><br>
		<input type="hidden" name="sub" value=""><br>
		<input type="password" name="password" id="password" placeholder="password" required><br>
		<input type="password" name="cpassword" id="cpassword" placeholder="confirm_password" required><br>
		<input type="submit" value="submit" onclick="validate()">
	</fieldset>
	</form>
	</body>
	</html>
