<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Registered Successfully</h1>
    <a href="facultyLogin"> LOGIN</h1>
  </body>
</html>
