<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>try</title>
  </head>
  <body>

    <input type="text" name="empid" value="Welcome <%= id %>" readonly >
    <form class="" action="" method="post">

      <input type="hidden" name="empid" value="<%= id %>" readonly >
      <h1> SEM 6 </h1>
      <% for (var i=0; i< stu.length ; i++){ %>
        <% for(var k=0; k< par.sem.length; k++){ %>
        <% if( par.sem[k] ==6 && stu[i].sem==par.sem[k] ){ %>
      <input type="text" name="usn" value="<%= stu[i].usn %> " readonly>
      <input type="text" name="subject" value="<%= par.sub[k] %>" radonly >
      <input type="hidden" name="sem" value="<%= par.sem[k] %>">
      <% for ( j=0; j< stu[i].Subject.length; j++) { %>
        <% if(stu[i].Subject[j].toUpperCase()==par.sub[k].toUpperCase()) { %>
      <input type="number" name="IA1" max="30" value="<%= stu[i].IA1 %>"/>
      <input type="number" name="perAttIA1" max="100" value="<%= stu[i].perAttIA1 %>">
      <input type="number" name="IA2"  max="30" value="<%= stu[i].IA2 %>"/>
      <input type="number" name="perAttIA2" max="100" value="<%= stu[i].perAttIA2 %>">
      <input type="number" name="IA3" max="30" value="<%= stu[i].IA3 %>"/>
      <input type="number" name="perAttIA3" max="100" value="<%= stu[i].perAttIA3 %>">
      <input type="number" name="Avg" value="<%=stu[i].AVG %>">
      <input type="number" name="perAtt" max="100" value="<%= stu[i].perAtt %>"> <br>
      <% } }} } }%>
      <h1> SEM7 </h1>
      <% for (var i=0; i< stu.length ; i++){ %>
        <% for(var k=0; k< par.sem.length; k++){ %>
      <% if(par.sem[k] ==7 && stu[i].sem==par.sem[k]){ %>
    <input type="text" name="usn" value="<%= stu[i].usn %>" readonly>
    <input type="text" name="subject" value="<%= par.sub[k] %>" readonly>
    <input type="hidden" name="sem" value="<%= par.sem[k] %>">
    <% for ( j=0; j< stu[i].Subject.length; j++) { %>
      <% if(stu[i].Subject[j].toUpperCase()==par.sub[k].toUpperCase()) { %>
    <input type="number" name="IA1" value="<%= stu[i].IA1[j] %>"/>
    <input type="number" name="perAttIA1" max="100" value="<%= stu[i].perAttIA1[j] %>">
    <input type="number" name="IA2"  value="<%= stu[i].IA2[j] %>"/>
    <input type="number" name="perAttIA2" max="100" value="<%= stu[i].perAttIA2[j] %>">
    <input type="number" name="IA3" value="<%= stu[i].IA3[j] %>"/>
    <input type="number" name="perAttIA3" max="100" value="<%= stu[i].perAttIA3[j] %>">
    <input type="number" name="Avg" value="<%= stu[i].AVG[j] %>">
    <input type="number" name="perAtt" max="100" value="<%= stu[i].perAtt[j] %>"> <br>
    <input type="submit" name="submit" value="Submit">
    <% } } } } } %>
    </form>
  </body>
</html>
