<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="id" value="<%= emp %>">
      <input type="text" name="sem" value="<%= sem %>">
      <% for(i=0;i<sem.length;i++){ %>
        <% if(sem[i]==7){ %>
          <select  name="sem7sub" multiple>
            <option value="WEB">WEB</option>
            <option value="SA">SA</option>
            <option value="SAN">SAN</option>
            <option value="INS">INS</option>
            <option value="ML">ML</option>
          </select>
        <%} %>
        <% if(sem[i]==6){ %>
          <select  name="sem6sub" multiple>
            <option value="python">PYTHON</option>
            <option value="FS">FS</option>
            <option value="crypto">Crypto</option>
            <option value="os">OS</option>
            <option value="or">OR</option>
            <option value="ST">ST</option>
          </select>
        <%} }%>
        <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
