<!DOCTYPE html>
<html>
<head>
<style>
table,th
{
border: 1px solid black;
border-collapse:collapse;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#interact">Interact</a></li>
  <li></li>
  <li></li>

  <li style="float:right"><a class="active" href="#logout">Logout</a></li>
</ul>
<table style="width:100%">
  <tr>
    <th>Subjects</th>
    <th>IA1</th>
	<th>Attendance(in %)</th>
    <th>IA2</th>
	<th>Attendance(in %)</th>
	<th>IA3</th>
	<th>Attendance(in %)</th>
	</tr>

</table>

</body>
</html>
