<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Already Exists</title>
  </head>
  <body>
    <h1>Account already exists Please Login</h1>
    <a href="parentLogin">LOGIN</a>
  </body>
</html>
