<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/parentregistration.css">
	<title>PARENT REGISTRATION</title>
	<script>
		function validate(e){
			var firstname=document.getElementById('firstname').value;
			var lastname=document.getElementById('lastname').value;
			var usn=document.getElementById('usn').value;
			var password=document.getElementById('password').value;
			var cpassword=document.getElementById('cpassword').value;
			if(password!=cpassword)
			{
				alert("missing");
				e.preventDefault();
			}
		}
	</script>
</head>
<body>
<form method="POST" name="PRREGISTER" action="" id="prregst">
	<fieldset>
	<legend style="color:hsl(39, 100%, 50%)">PARENT REGISTRATION FORM</legend>
		<input type="text" name="firstname" class="firstname" id="firstname" placeholder="Enter first name"  required><br>
		<input type="text" name="lastname" class="lastname" id="lastname" placeholder="Enter last name" required><br>
		<input type="email" name="parentemail" placeholder="enter your email" required><br>
		<input type="date" name="bday" max="2002-01-01"><br>
		<input type="text" id="usn" name="wardUsn" placeholder="Enter ward USN" required><br>
		<input type="password" name="password" id="password" placeholder="password" required><br>
		<input type="password" name="cpassword" id="cpassword" placeholder="confirm_password" required><br>
		<input type="submit" value="submit" onclick="validate()">
	</fieldset>
	</form>
	</body>
	</html>
