<!DOCTYPE html>
<html>
<head>
	<title>STUDENT REGISTRATION</title>
	<script>
		function validate(e){
			var firstname=document.getElementById('firstname').value;
			var lastname=document.getElementById('lastname').value;
			var usn=document.getElementById('usn').value;
			var password=document.getElementById('password').value;
			var cpassword=document.getElementById('cpassword').value;
			if(password!=cpassword)
			{   alert("Passwords entered Doesnt Match");
				e.preventDefault();
			}
		}
	</script>


<link rel="stylesheet" type="text/css" href="/assets/login.css">

</head>
<body>
	<form method="POST" name="STREGISTER" action="" id="stdregst" >
	<fieldset>
	<legend style="color:hsl(39, 100%, 50%)">STUDENT REGISTRATION FORM </legend>
		<input type="text" name="firstname" class="firstname" id="firstname" placeholder="Enter first name"  required><br>
		<input type="text" name="lastname" class="lastname" id="lastname" placeholder="Enter last name" required><br>
		<input type="email" name="studentemail" placeholder="enter your email" required><br>
		<input type="text" id="usn" name="usn" placeholder="Enter usn" required><br>
		<input type="hidden" name="Subject" value="">
		<p style="color:red; font-weight:bold;">SEM: <select name="sem" >
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
		</select><br>
		</p>
		<input type="hidden" name="IA1" value="">
		<input type="hidden" name="perAttIA1" value="">
		<input type="hidden" name="IA2" value="">
		<input type="hidden" name="perAttIA2" value="">
		<input type="hidden" name="IA3" value="">
		<input type="hidden" name="perAttIA3" value="">
		<input type="hidden" name="AVG" value="">
		<input type="hidden" name="perAtt" value="">
		<input type="password" name="password" id="password" placeholder="password" required><br>
		<input type="password" name="cpassword" id="cpassword" placeholder="confirm_password" required><br>
		<input type="submit" value="submit" onclick="validate()">
	</fieldset>
	</form>
	</body>
	</html>
