<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>try</title>
  </head>
  <body>
    <input type="text" name="usn" value="Welcome <%= usn %> <%= name %>" readonly >
    <form class="" action="" method="post">
      <% for (var i=0; i< Student.length ; i++){ %>
        <% if(usn == Student[i].usn){ %>
          <% for( var j=0;j< Student[0].Subject.length ; j++) { %>
      <input type="hidden" name="usn" value="<%= Student[i].usn %>">
      <input type="text" name="sub" value="<%= Student[i].Subject[j] %>">
      <input type="number" name="IA1" value="<%= Student[i].IA1[j] %>"/>
      <input type="number" name="perAttIA1" max="100" value="<%= Student[i].perAttIA1[j] %>">
      <input type="number" name="IA2"  value="<%= Student[i].IA2[j] %>"/>
      <input type="number" name="perAttIA2" max="100" value="<%= Student[i].perAttIA2[j] %>">
      <input type="number" name="IA3" value="<%= Student[i].IA3[j] %>"/>
      <input type="number" name="perAttIA3" max="100" value="<%= Student[i].perAttIA3[j] %>">
      <input type="number" name="Avg" value="<%= Student[i].AVG[i] %>">
      <input type="number" name="perAtt" max="100" value="<%= Student[i].perAtt[i] %>"> <br>
      <% } } } %>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
