
input {
         width:25%;
padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

legend{
font-size:200%;
font-weight:bold;
}
input[type=submit]{
background-color: #008CBA;
}

